
	<div class="panel panel-success" id="game-display">
		<div class="panel-heading">
			<img src="{{ homeTeam.teamLogo }}"> : {{ awayTeam.teamName }} vs. <br>
			<img src="{{ awayTeam.teamLogo }}"> : {{ homeTeam.teamName }}
		</div>
		<div class="panel-body">
			{{ readableDate }}<br>
			{{ readableTime }}<br><br>
			{{#each homeTeam.foodRules }}
				{{ this.foodId }}<br>
				{{ this.ruleDescription }}
			{{/each}}
		</div>
	</div>
