


 <div class="row">
    <div class="col-md-10 col-md-offset-1">

<div class="panel game-panel panel-default">

<!-- Begin Panel Body -->


<div class="game-time">
	<div class="panel-heading">
			<div >
							<h3>{{ formatHour readableTime }}</h3>

			</div>
	</div>
</div>

<div class="panel-body">     
		

	<section id="team-output">
		<div class="row">
			<div class="col-md-3">
				<img src="{{ awayTeam.teamLogo }}" />
			</div>
			
			<div class="col-md-6">

			<div class="row away-team-name">
				<h2>{{ awayTeam.teamName }}</h2>
			</div>
			
			<div class="row game-display-vs">
				
			</div>
			
			<div class="row home-team-name">
				<h2>{{ homeTeam.teamName }}</h2>
			</div>

			</div>
			
			<div class="col-md-3">
				<img src="{{ homeTeam.teamLogo }}" />
			</div>
		</div>

	</section>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<hr />
		</div>
	</div>
	
	{{#each homeTeam.foodRules }}
	<div class="rule-row row">
		<div class="col-md-7 rule-container">
			<div class="row">
				<div class="col-md-12">
					<h2><p class="text-danger">Rule</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="foodrule">{{ this.ruleDescription }}</div>
				</div>
			</div>
		

		</div>
	 	<div class="col-md-5">
				<div class="rule-food-icon">
					<img src="
						{{ this.foodIcon }}"  />
				</div>
		</div>
	</div>
	{{/each}}

</div>

<!-- End Panel Body -->

<div id="pick-new-game" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Heads up</h4>
      </div>
      <div class="modal-body">
         This game has already started. Please select another game.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</div>	

</div>
</div>
