


 <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

<div class="panel game-panel panel-default">

<!-- Begin Panel Body -->

<div class="game-time">
	<div class="panel-heading">
			<div >
				<h3>{{ formatHour readableTime }}</h3>
			</div>
	</div>
</div>

	<div class="panel-body">     
		
<br>
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-3 col-md-offset-1">
				<img src="{{ awayTeam.teamLogo }}" />
			</div>

			<div class="col-md-7">
				<h4>{{ awayTeam.teamName }}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
			<div class="row">
			<div class="col-md-3 col-md-offset-1"></div>
			<div class="col-md-7">			<center>vs.</center></div>
			</div>
	
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-1">
				<img src="{{ homeTeam.teamLogo }}" />
			</div>

			<div class="col-md-7">
				<h4>{{ homeTeam.teamName }}</h4>
			</div>
		</div>
	</div>
	<div class="col-md-4">
			<div class="rule-food-icon">
				<img src="{{#each homeTeam.foodRules }}
					{{ this.foodIcon }}{{/each}}"  />
			</div>
	</div>
</div>
<br>
<div class="row">
	<div class="foodrule col-md-10 col-md-offset-1">
					{{#each homeTeam.foodRules }}
							{{ this.ruleDescription }}
				{{/each}}
	</div>
</div>

<!-- End Panel Body -->

			</div>
	    </div>
    </div>
</div>	

</div>
</div>
