


 <div class="row">
    <div class="col-md-12">

<div class="panel game-panel panel-default">

<!-- Begin Panel Body -->

<!--
<div class="game-time">
	<div class="panel-heading">
			<div >
				<h3>{{ formatHour readableTime }}</h3>
			</div>
	</div>
</div>
-->
	<div class="panel-body">     
		

<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="game-display col-md-2">
				<img src="{{ awayTeam.teamLogo }}" />
			</div>

			<div class="game-display col-md-3">
				<h3>{{ awayTeam.teamName }}</h3>
			</div>
		
			<div class="game-display col-md-2">
			<center><h3>{{ formatHour readableTime }}</h3></center>
			</div>
		
			<div class="game-display col-md-3">
				<h3>{{ homeTeam.teamName }}</h3>
			</div>

			<div class="game-display col-md-2">
				<img src="{{ homeTeam.teamLogo }}" />
			</div>

		</div>
	</div>

</div>
<hr />
{{#each homeTeam.foodRules }}
<div class="row">
	<div class="foodrule col-md-12">
		
		<div class="row">
			<div class="col-md-8">
				<div class="row food-rule-title">
					<center><h3 class="text-danger">Rule</h3></center>
				</div>
				<div class="row">
					<div class="food-rule-description">
						{{ this.ruleDescription }}
					</div>
				</div>
			</div>
			<div class="col-md-4 food-rule-icon">
				<img src="{{ this.foodIcon }}" />
			</div>
		</div>
	</div>
</div>
{{/each}}

</div>


<!-- End Panel Body -->

<div id="pick-new-game" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Heads up</h4>
      </div>
      <div class="modal-body">
         This game has already started. Please select another game.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</div>	

</div>
</div>
