


 <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

<div class="panel game-panel panel-default">

<!-- Begin Panel Body -->


<div class="game-time">
	<div class="panel-heading">
			<div >
				<h3>{{ formatHour readableTime }}</h3>
			</div>
	</div>
</div>

	<div class="panel-body">     
		

<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-3 col-md-offset-1">
				<img src="{{ awayTeam.teamLogo }}" />
			</div>

			<div class="col-md-7">
				<h4>{{ awayTeam.teamName }}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
			<div class="row">
			<div class="col-md-3 col-md-offset-1"></div>
			<div class="col-md-7">			<center>vs.</center></div>
			</div>
	
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-1">
				<img src="{{ homeTeam.teamLogo }}" />
			</div>

			<div class="col-md-7">
				<h4>{{ homeTeam.teamName }}</h4>
			</div>
		</div>
	</div>
	<div class="col-md-4">
			<div class="rule-food-icon">
				<img src="{{#each homeTeam.foodRules }}
					{{ this.foodIcon }}{{/each}}"  />
			</div>
	</div>
</div>
<br>
<div class="row">
	<div class="foodrule col-md-10 col-md-offset-1">
					{{#each homeTeam.foodRules }}
							{{ this.ruleDescription }}
				{{/each}}
	</div>
</div>

</div>


<!-- End Panel Body -->

<div id="pick-new-game" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Heads up</h4>
      </div>
      <div class="modal-body">
         This game has already started. Please select another game.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</div>	

</div>
</div>
