


 <div class="row">
    <div class="col-xs-8 col-xs-offset-2">      
		<center> 
Every night in NBA arenas, basketball fans unite for a common cause. They stand - 20,000 strong - and scream a battle cry. But their chant is not "KO-BE" for their favorite Los Angeles Laker. It's "WE WANT TA-COS! WE WANT TA-COS!" as the Lakers approach 100 points. It's "PIZ-ZA! PIZ-ZA!" while the Toronto Raptors close out an opponent or it's "CHA-LU-PA" ringing out across The Moda Center as Damian Lillard steps to the foul line. Having paid for a $75 ticket and a $9 beer, this is the NBA fan's one chance to cash in: a free taco. So here, basketball fan, play along at home. Get that chalupa. Score that bowl of chili. Make your pick below and chant along at home: "CHA-LU-PA."
		</center>
    <div class="col-xs-8 col-xs-offset-2">
		<div class="panel game-panel panel-default">

<!-- Begin Panel Body -->

<div class="game-time">
	<div class="panel-heading">
			<div >
				<h3>{{ result }}</h3>
			</div>

	</div>
</div>

<div class="panel-body">     
		
	<br>
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-3 col-md-offset-1">
					<img src="{{ awayTeam.teamLogo }}" />
				</div>

				<div class="col-md-7">
					<h4>{{ awayTeam.teamName }}</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
				<div class="row">
				<div class="col-md-3 col-md-offset-1"></div>
				<div class="col-md-7">			<center>vs.</center></div>
				</div>
		
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-md-offset-1">
					<img src="{{ homeTeam.teamLogo }}" />
				</div>

				<div class="col-md-7">
					<h4>{{ homeTeam.teamName }}</h4>
				</div>
			</div>
		</div>
		<div class="col-md-4">
				<div class="rule-food-icon">
					<img src="{{#each homeTeam.foodRules }}
						{{ this.foodIcon }}{{/each}}"  />
				</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="foodrule col-md-10 col-md-offset-1">
						{{#each homeTeam.foodRules }}
								{{ this.ruleDescription }}
					{{/each}}
		</div>
	</div>

</div>


<!-- End Panel Body -->

</div>	

<hr />

</div>
</div>
