
 <div class="row">

    <div class="col-md-12">
		
		<h3>{{ title }}</h3>

		<div class="panel game-panel panel-default">

<!-- Begin Panel Body -->

{{#if result}}
<div class="game-time">
	<div class="panel-heading">
			<div >
				<h3>{{ result }}</h3>
			</div>

	</div>
</div>
{{else}}
<div class="game-time">
	<div class="panel-heading">
			<div >
				<h3>{{ readableTime }}</h3>
			</div>

	</div>
</div>
{{/if}}
<div class="panel-body">     
		
	<br>
	<div class="row">
		<div class="col-md-5">
			<img src="{{ awayTeam.teamLogo }}" />
		</div>
		<div class="col-md-2"><h6>at</h6></div>
		<div class="col-md-5">
			<img src ="{{ homeTeam.teamLogo }}" />
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
				
				<div class="rule-food-icon">
					<img src="{{#each homeTeam.foodRules }}
						{{ this.foodIcon }}{{/each}}"  />
				</div>
		</div>
	</div>
	
	<div class="row">
		<div class="foodrule col-md-10 col-md-offset-1">
						{{#each homeTeam.foodRules }}
								{{ this.ruleDescription }}
					{{/each}}
		</div>
	</div>

</div>


<!-- End Panel Body -->

</div>	


</div>
</div>
